.pageContainer {
  padding: 24px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  .pageContainer {
    padding: 16px !important;
  }
} 